/* App.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.word-display {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
}



.game-over {
  font-size: 1.2em;
  margin-top: 20px;
  color: red;
}

.guessed-letter {
  color: green; /* Couleur de texte verte pour les lettres devinées */
}

/* App.css */

/* Autres styles */



.clicked-key {
  background-color: gray; /* Couleur de fond grise pour les touches déjà cliquées */
  color: #fff; /* Couleur de texte blanche */
}

.unclicked-key {
  background-color: red; /* Nouvelle couleur de fond pour les touches déjà pressées */
  color: #fff; /* Nouvelle couleur de texte pour les touches déjà pressées */
}
